@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-work-sans: "Work Sans", sans-serif;
}

body {
  font-family: var(--font-work-sans);
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
  }
}

@layer utilities {
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

::-webkit-scrollbar {
  display: none;
}

@layer components {
  .animate-animate-text {
    animation-name: animate-text;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @keyframes animate-text {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

@layer utilities {
  .transition-border {
    transition: border 0.3s ease;
  }
  .transition-transform {
    transition: transform 0.5s ease;
  }
}

.next-thumb-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.next-thumb-overlay {
  position: relative;
  z-index: 2;
}

.word {
  opacity: 0;
  animation-name: animateText;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  display: inline-block;
  margin-right: 0.2em;
}

@keyframes animateText {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
